.row {
  width: 100%;
}

#codeColumn {
  width: 69%;
  float: left;
}

textarea#code {
  width: 100%;
  height: 400px;
}

#feedbackColumn {
  width: 29%;
  height: 400px;
  float: right;
}

.passed {
  color: green;
}

.failed {
  color: red;
}

h3 {
  margin-bottom: 0px;
}